/*resume.html css styling*/
    .header {
        background: linear-gradient(to bottom, #333333 0%, #000000 100%);
        text-align: center;
        -webkit-text-fill-color: aliceblue;
        padding: 20px;
    }

    /* TODO: work on logo */
    .resume_logo {
      position: absolute; top: 0; left: 0;
      max-width: 150px;
      max-height: 150px;
  }

  .resume_logo img {
      width: 100%;
      height: 100%;
   }

   .date {
      font-weight: 100;
      font-size: 20px;
   }

   .job_title {
      font-size: 20px;
   }
   
    .name {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        font-weight: bold;
        color: white;
        text-transform: capitalize;
        text-decoration: underline;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-indent: 50px;
        font-style: oblique;
    }

    /* index.html css styling */
      .logo {
        width: 100px;
        height: 40px;
        margin: 0 auto;
        position: left;
      }


      /* https://onlinepngtools.com/convert-png-to-data-uri change png into data url for svg type logo*/